.footer {
    position: relative;
    @include adaptive-value("margin-top", 34, 28, 1);

    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 800px;
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
        z-index: -1;
    }

    .footer-bgi {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 1000px;
        object-fit: cover;
        z-index: -1;
    }

    // .footer__logo

    &__logo {
        width: 188px;

        @media (max-width: 768px) {
            width: 158px;
        }
    }

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
        nav {
            margin-bottom: 20px;
            @include adaptive-value("padding-bottom", 30, 20, 1);

            border-bottom: 1px solid #fff;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 425px) {
                    flex-direction: column;
                }

                & > :not(:last-child) {
                    @media (min-width: 426px) {
                        @include adaptive-value("margin-right", 107, 20, 1);
                    }

                    @media (max-width: 425px) {
                        margin-bottom: 10px;
                    }
                }

                li {
                    a {
                        color: #fff;
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        letter-spacing: -0.4px;
                        transition: all 0.3s ease 0s;

                        @media (any-hover: hover) {
                            &:hover {
                                color: #b91c1c;
                            }
                        }
                    }
                }
            }
        }
    }

    // .footer__bottom

    &__bottom {
        @include adaptive-value("margin-bottom", 36, 23, 1);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > :nth-child(2) {
                margin-bottom: 30px;
            }
        }

        label {
            max-width: 252px;
            width: 100%;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0%);
            z-index: 2;

            @media (max-width: 768px) {
                position: relative;
                bottom: 0;
                left: 0;
                transform: translate(0%, 0%);
            }

            a {
                margin-top: 10px;
                display: block;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > :not(:last-child) {
                margin-right: 3px;
            }

            @media (max-width: 768px) {
                margin: 20px 0;
            }

            li {
                a {
                    img {
                        width: 26px;
                        height: 23px;
                        flex: 0 0 auto;
                        transition: all 0.3s ease 0s;

                        @media (any-hover: hover) {
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}
