.hero {
    position: relative;

    // .hero-bgi

    &-bgi {
        object-fit: cover;
        @include adaptive-value("height", 1018, 284, 1);

        min-height: 284px;
    }

    // .hero__container

    &__container {
    }

    // .hero__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .hero__content

    &__content {
        position: relative;
        margin-top: 28px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            color: #fff;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;
            text-shadow:
                -1px -1px 0 #6c0606,
                1px -1px 0 #6c0606,
                -1px 1px 0 #6c0606,
                1px 1px 0 #6c0606;
            font-family: Raleway;
            @include adaptive-value("font-size", 20, 14, 1);
            font-weight: 700;
            line-height: 110%;
            max-width: 1024px;
            width: 100%;
        }
    }

    .present-btn {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 58%;
        top: 22%;
        z-index: 1;

        @media (max-width: 1560px) {
            left: 60%;
        }

        @media (max-width: 1200px) {
            left: 62%;
        }

        @media (max-width: 768px) {
            width: 60px;
            height: 60px;
            @include adaptive-value("top", 300, 65, 1);
        }
    }

    .countdown {
        width: fit-content;
        position: absolute;

        transform: perspective(1000px) rotateX(0deg) rotateY(353deg) rotateZ(6.6deg);
        top: 83.4%;

        @media (min-width: 1141px) {
            left: calc(30px + 420 * (100vw - 1140px) / 832);
        }

        @media (max-width: 1140px) {
            @include adaptive-value("left", 25, 8, 1);
        }

        @media (max-width: 768px) {
            @include adaptive-value("left", 50, 8, 1);
        }

        @media (max-width: 1141px) {
            @include adaptive-value("top", 850, 236, 1);
        }

        @media (max-width: 768px) {
            gap: 2px;
        }

        @media (max-width: 425px) {
            @include adaptive-value("top", 850, 238, 1);
        }

        @media (max-width: 320px) {
            left: 25px;
        }

        .countdown__item {
            @media (max-width: 768px) {
                gap: 2px;
            }
        }

        span {
            color: #265f15;
            @include adaptive-value("font-size", 30, 10, 1);
            font-weight: 700;
        }
    }
}

.hero-text {
    @include adaptive-value("margin-bottom", 72, 30, 1);
    ol {
        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 20, 10, 1);
        }
    }
 
}
