.section {
    position: relative;

    &__container {
    }

    // .section__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .section__top

    &__top {
        @include adaptive-value("margin-bottom", 30, 16, 1);
    }
}

#mintanbull {
    @include adaptive-value("margin-bottom", 90, 50, 1);
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 50%;
        top: 160px;
        transform: translate(-50%, 0);
        width: 3262px;
        height: 100%;
        background-image: url("@img/mint-vector.png");
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .swiper {
        height: calc((256px * 2) + 32px);
        max-width: 100%;

        @media (max-width: $containerWithPadding + px) {
            max-width: 100vw;
            width: 100vw;
            margin-left: -$padding + px;
            padding-inline: $padding + px;
        }

        @media (max-width: 768px) {
            height: auto;
        }

        // .swiper-wrapper

        &-wrapper {
        }

        // .swiper-slide

        &-slide {
            height: calc((100% - 32px) / 2) !important;
            width: 256px;

            @media (max-width: 768px) {
                height: 256px;
            }

            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

#present {
    position: relative;
    @include adaptive-value("margin-bottom", 69, 32, 1);

    .section__content {
        width: 100%;
        max-width: 738px;
        border: 1px solid #fff;
        border-radius: 15px;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
        }
    }

    .iframe {
        position: relative;
        padding-bottom: 49.6%;

        .placeholder {
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }

        .placeholder,
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        iframe {
            display: none;
            object-fit: cover;
        }
    }
}

#labs {
    @include adaptive-value("margin-bottom", 80, 30, 1);

    .section {
        // .section__body

        &__body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 992px) {
                flex-direction: column;
            }
        }

        // .section__content

        &__content {
            max-width: 544px;
            width: 100%;

            h2 {
                margin-bottom: 42px;
                text-align: left;
            }

            p {
                color: #fff;
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.32px;

                @media (max-width: 768px) {
                    font-size: 14px;
                    letter-spacing: -0.282px;
                }
            }
        }

        // .section__img

        &__img {
            position: relative;
            width: 578px;
            height: 520px;

            @media (max-width: 992px) {
                width: 100vw;
                height: 320px;
                margin-bottom: 13px;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                object-fit: cover;
                object-position: top;

                @media (max-width: 992px) {
                    object-fit: contain;
                    object-position: bottom;
                }
            }
        }
    }

    .labs-bgi {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        @media (min-width: 993px) {
            min-height: 523px;
        }

        @media (max-width: 992px) {
            height: 320px;
            top: 40px;
        }
    }
}

#about {
    @include adaptive-value("margin-bottom", 56, 30, 1);

    h2 {
        @include adaptive-value("margin-bottom", 30, 10, 1);
        text-align: left;
        display: block;

        @media (max-width: 992px) {
            text-align: center;
            margin-top: 20px;
        }
    }

    .box {
        padding-top: 52px;
        padding-bottom: 60px;
        padding-left: 45px;
        margin-left: auto;
        margin-right: auto;

        border-radius: 16px;
        border: 2px solid #fff;
        background: rgba(0, 0, 0, 0.9);

        @media (max-width: 992px) {
            padding-top: 0px;
            padding-left: 14px;
            padding-right: 14px;
            padding-bottom: 16px;
        }
    }

    .section {
        &__container {
        }

        // .section__body

        &__body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }
        }

        // .section__content

        &__content {
            max-width: 544px;
            width: 100%;

            @media (max-width: 992px) {
                max-width: 100%;
            }

            p {
                width: 100%;
                color: #fff;
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.32px;

                @media (max-width: 768px) {
                    font-size: 14px;
                    letter-spacing: -0.282px;
                }
            }
        }

        // .section__img

        &__img {
            width: 526px;
            position: relative;
            padding-bottom: 47.1%;
            min-height: 288px;
            height: 100%;

            @media (max-width: 992px) {
                width: 100%;
                margin-top: -35px;
                margin-bottom: 16px;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                object-fit: contain;
                width: 100%;
            }
        }
    }
}

#faq {
    margin-bottom: 30px;

    .accordion {
        max-width: 736px;

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 20, 8, 1);
        }

        // .accordion__item

        &__item {
            // .accordion__item-title

            &-title {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                @include adaptive-value("padding-top", 10, 14, 1);
                @include adaptive-value("padding-left", 18, 10, 1);
                @include adaptive-value("padding-right", 18, 10, 1);
                @include adaptive-value("padding-bottom", 10, 14, 1);

                border-radius: 10px;
                border: 2px solid #fff;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0) 100%),
                    rgba(0, 0, 0, 0.9);

                h3 {
                    margin-right: auto;
                    color: #fff;
                    @include adaptive-value("font-size", 20, 15, 1);
                    font-weight: 700;
                    line-height: 110%;
                }

                .question {
                    width: 32px;
                    height: 35px;
                    @include adaptive-value("margin-right", 15, 10, 1);
                    flex: 0 0 auto;
                }

                button {
                    @include adaptive-value("margin-left", 94, 24, 1);
                    width: 24px;
                    height: 24px;
                    flex: 0 0 auto;
                    position: relative;
                    transition: all 0.3s ease 0s;
                    background-color: unset;

                    img,
                    svg {
                        width: 24px;
                        height: 24px;
                        flex: 0 0 auto;
                    }
                }

                &._active {
                    button {
                        transform: rotate(-180deg);
                    }
                }
            }

            // .accordion__item-content

            &-content {
                position: relative;
                top: -20px;
            }

            // .accordion__item-content-height

            &-content-height {
                background: #000;

                .div {
                    padding-top: 33px;
                    @include adaptive-value("padding-bottom", 18, 15, 1);
                    @include adaptive-value("padding-left", 70, 22, 1);
                    @include adaptive-value("padding-right", 70, 22, 1);
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    width: 100%;

                    ol {
                        max-width: 423px;
                        width: 100%;
                    }

                    li,
                    p,
                    span {
                        line-height: 163%;
                        color: #fff;
                        font-variant-numeric: lining-nums proportional-nums;
                        font-family: Inter;
                        @include adaptive-value("font-size", 16, 12, 1);
                        font-style: normal;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

._text {
    @include adaptive-value("padding-top", 200, 100, 1);
    @include adaptive-value("padding-bottom", 200, 100, 1);

    h1 {
        text-align: center;
        @include adaptive-value("font-size", 80, 50, 1);
        margin-bottom: 0.5em;
    }

    h2 {
        margin-bottom: 0.5em;
    }

    h3 {
        margin-bottom: 1em;
    }

    h4,
    h5,
    h6 {
        @include adaptive-value("font-size", 24, 18, 1);
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 10px;
    }
}

#roadmap {
    @include adaptive-value("margin-bottom", 80, 30, 1);

    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        width: 3262px;
        height: 100%;
        background-image: url("@img/mint-vector.png");
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 768px) {
            display: none;
        }
    }

    h2 {
        @include adaptive-value("margin-bottom", 40, 20, 1);
    }

    ol {
        display: flex;
        align-items: center;
        gap: 32px;

        @media (max-width: 992px) {
            flex-direction: column;
            width: 100%;
            gap: 20px;
        }

        li {
            padding: 30px;
            border-radius: 24px;
            border: 2px solid #fff;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%),
                rgba(0, 0, 0, 0.9);
            min-height: 548px;

            @media (max-width: 992px) {
                width: 100%;
                min-height: unset;
                height: fit-content;
            }

            label {
                display: block;
                color: #fff;
                text-align: center;
                font-family: Raleway;
                font-size: 30px;

                font-weight: 900;
                line-height: 110%;
                -webkit-text-stroke: 2px #6c0606;
                margin-bottom: 34px;
                padding-bottom: 16px;
                border-bottom: 3px solid #d9d9d9;
            }

            span {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #fff;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 110%;
                margin-bottom: 16px;
                max-width: 292px;
                width: 100%;

                @media (max-width: 992px) {
                    max-width: none;
                }

                &:before {
                    position: relative;
                    flex: 0 0 auto;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 29px;
                    height: 29px;
                    background-image: url("@img/roadmap-icon.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

#influence {
    @include adaptive-value("margin-bottom", 117, 40, 1);

    .section__body {
    }

    p {
        padding: 18px 60px 24px 60px;
        border-radius: 24px;
        border: 2px solid #fff;
        background: rgba(0, 0, 0, 0.9);

        color: #fff;
        text-align: center;
        font-family: Raleway;
        @include adaptive-value("font-size", 30, 16, 1);
        font-style: normal;
        font-weight: 700;
        line-height: 110%;

        @media (max-width: 768px) {
            padding: 15px 10px;
        }
    }

    .influence-slider {
        overflow: hidden;
        width: 100%;
        padding-top: 100px;

        @media (max-width: 425px) {
            width: 100vw;
        }
    }

    .swiper {
        width: 100%;
        overflow: visible;
        margin-bottom: 100px;

        @media (max-width: 425px) {
            margin-bottom: 70px;
        }

        &-slide {
            flex: 0 0 auto;

            .influence-img {
                flex: 0 0 auto;
                width: 100%;
                position: relative;
                padding-bottom: 100%;
                transform: scale(1.14);

                transition: transform 0.3s ease 0s;
                transform-origin: bottom 30px;
            }

            &.swiper-slide-prev,
            &.swiper-slide-next {
                z-index: 1;

                .influence-img {
                    transform: scale(1.45);
                }
            }

            &.swiper-slide-active {
                z-index: 2;

                .influence-img {
                    transform: scale(1.7);
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

#coronation {
    .section {
        // .section__body

        &__body {
            padding: 84px 0;
        }

        // .section__content

        &__content {
            border-radius: 24px;
            border: 2px solid #fff;
            background: rgba(0, 0, 0, 0.9);
            @include adaptive-value("padding-top", 48, 15, 1);
            @include adaptive-value("padding-left", 48, 10, 1);
            @include adaptive-value("padding-right", 48, 10, 1);
            @include adaptive-value("padding-bottom", 38, 20, 1);
        }
    }

    h3 {
        -webkit-text-stroke: 2px #6c0606;
        text-align: center;
        margin-bottom: 30px;

        @media (min-width: 768px) {
            br {
                display: none;
            }
        }
    }

    .coronation {
        // .coronation-bgi

        &-bgi {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 857px;
            z-index: -1;
            object-fit: cover;
        }

        // .coronation__flex

        &__flex {
            display: flex;
            justify-content: space-between;
            @include adaptive-value("gap", 45, 0, 1);

            @media (max-width: 1024px) {
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    label {
        color: #fff;
        font-family: Raleway;
        @include adaptive-value("font-size", 20, 16, 1);
        font-weight: 900;
        line-height: 110%;
        text-transform: uppercase;
        display: block;
        bottom: 18px;
        text-align: center;
        white-space: nowrap;
    }

    ol {
        max-width: 237px;
        width: 100%;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.16);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%),
            rgba(0, 0, 0, 0.9);
        padding: 20px 17px 20px 17px;

        @media (max-width: 768px) {
            padding: 20px 10px;
        }

        p {
            color: #fff;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .chart {
        & > :not(:last-child) {
            margin-bottom: 25px;
        }

        li {
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 10px;

            span {
                color: #6c0606;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .calculation {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > :first-child {
            flex: 1 1 auto;
        }

        .input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include adaptive-value("height", 84, 52, 1);
            min-width: 278px;
            width: 100%;
            margin-top: -7px;

            input {
                margin-left: -15px;
                margin-right: -15px;
                max-width: 350px;
                width: 100%;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                background: rgba(0, 0, 0, 0.9);
                padding: 12px 20px;
                font-family: Inter;
                font-size: 40px;
                color: #fff;
                font-weight: 500;
                line-height: 110%;
                text-transform: uppercase;
                text-align: center;
                font-variant-numeric: lining-nums proportional-nums;

                ::placeholder {
                    opacity: 1;
                    color: #fff;
                }

                @media (max-width: 1200px) {
                    font-size: 30px;
                }

                @media (max-width: 1024px) {
                    font-size: 25px;
                    margin-left: -10px;
                    margin-right: -10px;
                    padding: 10px 12px;
                }

                @media (max-width: 425px) {
                    height: 45px;
                }
            }

            button {
                position: relative;
                z-index: 1;
                @include adaptive-value("width", 86, 52, 1);
                @include adaptive-value("height", 86, 52, 1);
                flex: 0 0 auto;
                border-radius: 24px;
                border: 1px solid rgba(255, 255, 255, 0.24);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%),
                    rgba(0, 0, 0, 0.95);

                display: flex;
                align-items: center;
                justify-content: center;

                @media (any-hover: hover) {
                    &:hover {
                        img,
                        svg {
                            transform: scale(1.1);
                        }
                    }
                }

                img,
                svg {
                    transition: all 0.3s ease 0s;
                    width: 47px;
                    height: 47px;
                    flex: 0 0 auto;
                    pointer-events: none;

                    @media (max-width: 768px) {
                        width: 30px;
                        height: 30px;
                    }
                }

                @media (max-width: 1024px) {
                    border-radius: 15px;
                }
            }
        }

        .coronation-btn {
            margin-top: 35px;
            margin-bottom: 20px;
            height: 61px;
            gap: 20px;
            padding: 0 30px;
            max-width: 370px;
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;

            border-radius: 14px;
            border: 3px solid rgba(221, 12, 12, 0.12);
            background: unset;

            label {
                line-height: 1;
            }

            @media (max-width: 1024px) {
                margin-top: 13px;
                margin-bottom: 22px;
            }

            @media (max-width: 768px) {
                gap: 10px;
                height: 50px;

                label {
                    font-size: 14px;
                }
            }

            pointer-events: none;
        }

        ._button {
            justify-content: center;
            margin-top: 35px;
            margin-bottom: 20px;
            height: 60px;

            @media (max-width: 1024px) {
                margin-top: 13px;
                margin-bottom: 22px;
            }

            .countdown {
                display: none;
            }

            label {
                pointer-events: none;
            }
        }

        p {
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 194%;
            text-align: center;

            a {
                color: #6c0606;
            }
        }
    }

    .program {
        p {
            text-align: center;
            margin: 23px 0;
            display: block;
        }

        span {
            display: block;
            color: #fff;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Raleway;
            font-size: 40px;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;
        }

        .offer {
            color: #fff;
            text-align: center;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 110%;
        }

        .copy {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 199px;
            padding: 15px 60px;
            white-space: nowrap;
            margin-top: 23px;
            color: #fff;
            text-align: center;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;

            border-radius: 14px;
            border: 3px solid rgba(221, 12, 12, 0.12);
            background: unset;
        }

        .send {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            border-radius: 14px;
            border: 3px solid rgba(221, 12, 12, 0.12);
            white-space: nowrap;

            color: #6c0606;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .main-img {
        width: 460px;
        object-fit: cover;
        min-height: 141px;
    }

    .accordion {
        margin-top: 15px;

        @media (min-width: 1025px) {
            display: none;
        }

        @media (max-width: 768px) {
            padding: 5px 15px;
        }

        .chart,
        .program {
            display: block;
            max-width: 100%;
            border-radius: 0px;
            border: 0;
            background: unset;

            button {
                width: 100%;
            }
        }

        & > :not(:last-child) {
            margin-bottom: 8px;
        }

        .accordion__item {
            padding: 8px 10px;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.16);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%),
                rgba(0, 0, 0, 0.9);
        }

        .accordion__item-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;

            button {
                background: unset;
                transition: all 0.3s ease 0s;
                flex: 0 0 auto;
                width: 24px;
                height: 24px;
            }

            &._active {
                button {
                    background: unset;
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

#terms {
    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 640px;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.4) 100%);
        z-index: -1;
    }
    .terms-bgi {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        height: 70%;
        @include adaptive-value("width", 3260, 920, 1);
        top: 0;
        z-index: -1;
        object-fit: cover;
    }

    .terms-logo {
        display: block;
        @include adaptive-value("margin-bottom", 83, 28, 1);
        @include adaptive-value("margin-top", 50, 19, 1);
        @include adaptive-value("width", 292, 130, 1);
        margin-right: auto;
        flex: 0 0 auto;
    }

    p {
        color: #fff;
        font-family: Inter;
        @include adaptive-value("font-size", 16, 12, 1);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.32px;
        margin-bottom: 20px;
    }
    .section__top {
        margin-bottom: 0;
    }

    h2 {
        text-align: left;
        margin-bottom: 20px;
    }

    ol {
        li {
            h3 {
                margin: 20px 0;
            }

            p {
            }
        }
    }
}
